.sale_categories__body_single {
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 1.4%;
    margin-right: 1.4%;
    max-height: 190px;
    text-align: center;
}


.sale_categories__body_link {
    display: block;
    text-decoration: none;
}

.sale_categories__name {
    text-decoration: none;
}

.sale_categories__name_heading {
    color: #002f6d;
    text-decoration: none;
}

.sale_categories__name_heading_element {
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
}

.sale_categories__body_image {
    min-height: 120px;
    max-height: 120px;
    max-width: 100%;
    object-fit: contain;
    padding: 10px 0;
    transition: transform 0.3s;
}

.sale_categories__body_link:hover .sale_categories__body_image {
    transform: rotate(3deg) scale(1.07);
}

@media (min-width: 769px) {
    .sale_categories__body_single {
        box-sizing: border-box;
        display: inline-block;
        margin-right: 1.4%;
        width: 32.3%;
    }

    .sale_categories__body_single:nth-of-type(3n+3) {
        border-right: none;
        margin-right: 0;
    }

    .sale_categories__body_single:last-child,
    .sale_categories__body_single:nth-last-child(2) {
        margin-bottom: 0;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .sale_categories__name_heading_element {
        font-size: 1rem;
    }

    .sale_categories__body_single {
        box-sizing: border-box;
        display: inline-block;
        margin-right: 1.4%;
        width: 49.3%;
    }


    .sale_categories__body_single:nth-of-type(2n+2) {
        margin-right: 0;
    }
}

@media (min-width: 241px) and (max-width: 320px) {
    .sale_categories__body_single {
        display: block;
        width: 100%;
    }
}

@media (max-width: 241px) {
    .sale_categories__body_single {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vh;
        width: 70%;
    }

    .sale_categories__body_image {
        min-height: 0;
        padding-top: 5vh;
    }

    .sale_categories__name {
        font-size: 0.7em;
    }
}

@media print {
    .sale_categories__name_heading {
        background-color: #fff;
        color: #000;
    }

    .sale_categories__body_single {
        margin-right: 1.25%;
        width: 19%;
    }

    .sale_categories__body_single:nth-of-type(4n+4) {
        margin-right: 1%;
    }

    .sale_categories__body_single:nth-of-type(5n+5) {
        margin-right: 0;
    }
}
