.env
.env_old
.DS_Store
storage/logs/**
public/uploads_admin/**
public/uploads_user/original/**
public/uploads_gallery/originals/**
public/uploads_gallery/thumbs/**
public/error_log
public/filemanager/error_log
app/Http/Controllers/TestController.php
storage/framework/views/**
.eslintrc.json
.shtreber.crt
.shtreber.key
config/nestpay.php
node_modules
shtreber.crt
shtreber.key
storage/framework/cache/data/**
storage/localdata/*
storage/framework/sessions/*
sitemap.xml
.htaccess
public/.htaccess
public/notlogged.txt
