.configuration_list__page {
    background-color: #fff;
    padding-bottom: 30px;
    padding-top: 30px;
}

.configuration_list__wrapper {
    border-collapse: collapse;
    margin: 0 auto;
    padding-top: 20px;
    width: 90%;
}

.configuration_list__wrapper:empty::after {
    content: "Nemate nijednu konfiguraciju!";
    display: block;
    font-size: 1.5em;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.configuration_list__table_heading {
    font-size: 1em;
    padding: 0 0 10px 0;
    text-align: left;
}

.configuration_list__table_cell {
    font-size: 1em;
}

.configuration_list__table_heading--controls {
    text-align: right;
}

.configuration_list__table_heading--price {
    text-align: right;
}

.configuration_list__table_heading--details {
    text-align: center;
}

.configuration_list__table_cell__buttons {
    text-align: right;
}

/* Za poravnanje iznosa narudzbine na desno */
.configuration_list__table_cell--price {
    text-align: right;
}

/* Za centralno poravnanje dugmeta*/
.configuration_list__table_cell--details {
    text-align: center;
}

.configuration_list__single_wrapper {
    border-top: 1px solid #a7aabd;
}

.configuration_list__product_image {
    display: inline-block;
    padding: 10px 10px 10px 0;
    vertical-align: middle;
    width: 50px;
}

.configuration_list__single__wrapper {
    border-top: 1px solid #a7aabd;
}

.configuration_list__product_link {
    color: #28282e;
    text-decoration: none;
}

.configuration_list__product_link:hover {
    color: #0454a8;
}

.configuration_list__single_price {
    color: #0454a8;
    font-weight: 600;
}

.configuration_list_stock {
    border-radius: 50%;
    display: inline-block;
    height: 5px;
    margin-right: 5px;
    position: relative;
    vertical-align: middle;
    width: 5px;
}

.configuration_list__details,
.configuration_list__button_order {
    background-color: #0454a8;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9rem;
    margin-right: 5px;
    padding: 8px;
    text-decoration: none;
}

.configuration_list__details:hover,
.configuration_list__button_order:hover {
    background-color:#19426d;
}

.configuration_list__delete_form {
    display: inline-block;
}

@media (max-width: 800px) {
    .configuration_list__table_cell--date,
    .configuration_list__table_heading--date {
        display: none;
    }
}

@media (max-width: 480px) {
    .configuration_list__details,
    .configuration_list__button_order {
        display: block;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .configuration_list__delete_form {
        display: block;
    }

    .configuration_list__delete_button {
        width: 100%;
    }
}
