.header_logo {
    display: flex;
    max-width: 100%;
    padding: 1rem 0;
    transition: transform 0.3s;
    width: 10rem;
}

.header_logo--print {
    display: none;
}

.header_logo:hover {
    transform: scale(1.02);
}

.header_logo__link {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    vertical-align: middle;
}

.header_logo__link--print {
    display: none;
}

@media print {
    .header_logo--view {
        display: none;
    }

    .header_logo--print {
        display: block;
    }

    .header_logo__link {
        margin-left: 0;
    }

    /* Potrebno display block kod stampe za admininstraciju jer je inace display none */
    .header_logo__link--print {
        display: block;
    }

    .header_logo__link[href]:after {
        content: "";
    }
}
