.atom_wishlist_toggle--light {
    display: inline;
}

.atom_wishlist_toggle__change {
    background-color: #e9e9e9;
    border: solid 1px #d5d5d5;
    border-radius: 10px;
    box-shadow: 0 1px #fff inset;
    color: #b1003f;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    margin: 3px 0 3px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 90%;
}

.atom_wishlist_toggle__in_wishlist_already {
    background-color: #e9e9e9;
    border: solid 1px #d5d5d5;
    border-radius: 10px;
    box-shadow: 0 1px #fff inset;
    color: #b1003f;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    margin: 3px 0 3px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    width: 90%;
}

.atom_wishlist__toggle_toggle {
    fill: white;
    float: left;
    height: 20px;
    padding-left: 10px;
    /* position: relative; */
    stroke: #b1003f;
    vertical-align: middle;
    width: 1.5em;
}

.atom_wishlist__toggle_toggle--light {
    display: block;
    margin: auto;
}

.atom_wishlist__toggle_text--light {
    display: none;
}

.atom_wishlist__toggle_text {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.atom_wishlist__toggle_toggle--minus {
    fill: #b1003f;
}

.atom_wishlist_toggle__in_wishlist:checked ~ .atom_wishlist_toggle__change {
    display: none;
}

.atom_wishlist_toggle__in_wishlist:checked ~ .atom_wishlist_toggle__in_wishlist_already {
    display: inline-block;
}

.atom_wishlist_toggle__in_wishlist_already {
    box-shadow: 0 0 0 1pt #b1003f;
    font-weight: bolder;
    display: none;
}

.atom_wishlist_toggle__change--light, .atom_wishlist_toggle__in_wishlist_already--light {
    width: 3em;
}

.atom_wishlist_toggle__change:focus, .atom_wishlist_toggle__in_wishlist_already:focus {
    box-shadow: 0 0 2pt 2pt #b1003f;
    outline: 0;
}

.atom_wishlist_toggle__change:hover, .atom_wishlist_toggle__in_wishlist_already:hover {
    background-color: #d1d1d1;
}

.atom_wishlist_toggle__in_wishlist {
    display: none;
}

.atom_wishlist_toggle__in_wishlist:checked + .atom_wishlist_toggle__in_wishlist__label .atom_wishlist_toggle__in_wishlist__text {
    display: block;
}

.atom_wishlist_toggle__in_wishlist:checked + .atom_wishlist_toggle__in_wishlist__label .atom_wishlist_toggle__not_in__wishlist_text {
    display: none;
}

.atom_wishlist_toggle__in_wishlist:not(:checked) + .atom_wishlist_toggle__in_wishlist__label .atom_wishlist_toggle__in_wishlist__text {
    display: none;
}

.atom_wishlist_toggle__in_wishlist:not(:checked) + .atom_wishlist_toggle__in_wishlist__label .atom_wishlist_toggle__not_in__wishlist_text {
    display: block;
}

@media (max-width: 480px) {
    .atom_wishlist_toggle__change, .atom_wishlist_toggle__in_wishlist_already {
        font-size: 0.8em;
        min-width: 0;
        width: 80%;
    }
    
    .atom_wishlist_toggle__change--light, .atom_wishlist_toggle__in_wishlist_already--light {
        width: 45%;
    }
}

@media (max-width: 320px) {
    .atom_wishlist__toggle_toggle {
        display: none;
    }

    .atom_wishlist__toggle_toggle--light {
        display: block;
    }
}
