.main_header__title {
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 641px) and (max-width: 1024px) {
    .main_header__title {
        font-size: 1.6em;
    }
}

@media (min-width: 321px) and (max-width: 640px) {
    .main_header__title {
        font-size: 1.4em;
    }
}

@media (min-width: 241px) and (max-width: 320px) {
    .main_header__title {
        font-size: 1.2em;
    }
}

@media (max-width: 240px) {
    .main_header__title {
        font-size: 1em;
    }
}
