.main_header__title {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
}

.main_header__small {
    font-size: 1.25rem;
}

.main_header__title a {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

.main_header__title a:hover {
    text-decoration: underline;
}

@media (min-width: 641px) and (max-width: 1024px) {
    .main_header__title {
        font-size: 1.6rem;
    }
}

@media (min-width: 321px) and (max-width: 640px) {
    .main_header__title {
        font-size: 1.25rem;
    }

    .main_header__small {
        font-size: 1rem;
    }
}

@media (max-width: 320px) {
    .main_header__title {
        font-size: 1rem;
    }

    .main_header__small {
        font-size: 0.875rem;
    }
}
