.related_products {
}

.related_products__single {
    display: inline-block;
    width: 25%;
}

@media(max-width: 1080px) {
    .related_products__single {
        display: inline-block;
        width: 33%;
    }
}

@media(max-width: 768px) {
    .related_products__single {
        display: inline-block;
        width: 50%;
    }

    .related_products__single:nth-of-type(n+7) {
        display: none;
    }
}

@media(max-width: 420px) {
    .related_products__single {
        display: inline-block;
        width: 100%;
    }
    .related_products__single:nth-of-type(n+6) {
        display: none;
    }
}
