.progress_bar {
    background: #fefefe;
    color: #fff;
    font-weight: 700;
    left: 0;
    position: absolute;
    position: fixed;
    text-align: center;
    top: 1px;
    width: 100%;
}

.category_inner {
    background-color: #00bc11;
    border-right: solid 1px #000;
    height: 30px;
    transition: width 0.5s ease-in-out;
}

.category_inner_name {
    background-color: #004076;
    border-right: solid 1px #000;
    height: 30px;
}

.category_outter {
    height: 60px;
}

.product_inner_name {
    background-color: #004076;
    border-right: solid 1px #000;
    height: 30px;
}

.product_inner {
    background-color: #00bc11;
    border-right: solid 1px #000;
    height: 30px;
    transition: width 0.5s ease-in-out;
}

.title {
    color: #000;
}

.product_outter {
}

.import_error {
    color: red;
}
.import_error::before {
    content: "Greška: ";
    text-transform: uppercase;
}
