.admin_seo__submit {
    display: none;
}

.admin_seo__change__thumbnail_twitter,
.admin_seo__change__image_twitter,
.admin_seo__change__image_open_graph {
	position: absolute;
  	overflow: hidden;
  	clip: rect(0 0 0 0);
  	height: 1px; width: 1px;
  	margin: -1px; padding: 0; border: 0;
}

.admin_seo__thumbnail_twitter {
	cursor: pointer;
	display: block;
	max-height: 70px;
	transform: translateZ(0);
	transition: transform 0.3s;
}

.admin_seo__thumbnail_twitter:hover,
.admin_seo__change__thumbnail_twitter:focus+.admin_seo__thumbnail_twitter {
	transform: scale(1.05);
}

.admin_seo__title:invalid,
.admin_seo__url:invalid,
.admin_seo__image:invalid,
.admin_seo__description:invalid,
.admin_seo__keywords:invalid {
	border:1px solid #FF9494;
}
