.menu_slider__box {
    background-color: #000;
    width: 100%;
}

.menu_slider__box_container {
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    width: 80%;
}

.menu_slider__box_menu {
    background-color: #002f6d;
    width: 100%;
}

.menu_slider__box_slider {
    vertical-align: top;
    width: 100%;
}

.menu_slider__box_slider:empty {
    display: none;
}

@media print {
    .menu_slider__box {
        display: none;
    }
}

@media (min-width: 801px) {
    .menu_slider__box_menu {
        display: block;
    }

    .menu_slider__box_slider {
        display: inline-block;
    }

    .menu_slider__box {
        min-height: 350px;
    }

    .menu_slider__box_container {
        height: 350px;
    }

    .menu_slider__box_slider {
        min-height: 350px;
    }
}

@media (max-width: 800px) {
    .menu_slider__box_menu {
        margin: 0 auto;
        width: 100%;
    }

    .menu_slider__box_container {
        width: 100%;
    }

    .menu_slider__box_slider {
        width: 100%;
    }

    .menu_slider__box_slider--other {
        display: none;
    }
}

@media (max-width: 640px) {
    .menu_slider__box_menu {
        display: block;
        width: 100%;
    }
}
